{{!-- right column (Notes) --}}
<div class="note-column">
    <div class="create-note mr-5 pr-5">
        <ul>
            <h2>Instructions for use:</h2>
            <li>Click on the title of any article to open the comment panel.</li>
            <li>Post your own anonymous comment!</li>
            <li>Read <strong>(and Delete)</strong> other user's anonymous comments!</li>
        </ul>
    </div>
</div>



